.light-mode{
    --colo-bg-code:white;
    --color-bg-side:#E5E5E5;
    --color-text:#222;
    --color-primaryu:#222,
}
.dark-mode{
    --color-bg-code:#272822;
    --color-bg-side:#272727;
    --color-text:#222;
    --color-primary:white;
}