@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,700;1,600;1,900&display=swap");

#app{
    height: 100vh;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GLOBAL STYLE */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.125rem;
}
// p {
//   color: var(--grey-color);
//   font-size: 1rem;
//   letter-spacing: var(--letter-spacing);
// }
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  display: inline-block;
  border: none;
  padding: 0.4rem 1.25rem;
  border-radius: var(--btn-radius);
  box-shadow: var(--light-shadow);
  letter-spacing: var(--letter-spacing);
  font-size: 0.55rem;
  transition: var(--btn-transition);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.icon {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

:root {
    --color-bg-code:white;
    --color-bg-side:#E5E5E5;

    // questa è la barra dei comandi in alto
    --hover-bg-bar: rgb(168, 161, 161);
    --color-bg-topbar: #E5E5E5;
    --color-text:#222;

    // searchbar
    --color-bg-search:#D9D9D9;
    
    // aside
    --color-bg-aside:#2C2C2C;
    // area expanded aside
    --color-bg-aside-expanded: #F3F3F3;

    // tab
    --color-bg-tab : #ECECEC;
}
  
//   Variabili tema scuro
  [data-theme="dark"] {
    --color-bg-code:#272822;
    --color-bg-side:#272727;

    // barra dei comandi in alto
    --hover-bg-bar: rgb(82, 79, 79);
    --color-bg-topbar: #3E3E3F;
    --color-text:#CCCCCC;

    // searchbar
    --color-bg-search:#484849;

    // aside
    --color-bg-aside : #353535;
    // area expanded aside
    --color-bg-aside-expanded: #272727;
    --color-text-tab : #8478A6;

    // --color-bg-tab
    --color-bg-tab : #404040;
    --color-text-tab : #E1C08C;
  }
  
.cmd-bar{
    background-color: var(--color-bg-topbar);
    color: var(--color-text);
    height: 40px;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
}
.side-bar{
  background-color: var(--color-bg-aside);
  flex: 0 0 50px;
  height: 100vh;
  position: fixed;
  width: 50px;
  left: 0;
  top: 0;
  color: grey;
  font-size: 20px;
  a{
    color: inherit;
  }
  
}
